
html {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

* {
    box-sizing: border-box;
  }

#main {
    flex-wrap: wrap;
}

body{

    line-height:1.5;
}

.logo {
    
    border-radius: 15px;
    margin-bottom: 0.5em;
    margin-top: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left {
    background-color: #ececec;
    width: 25%;
    float: left;
    margin-bottom: 3px;
    font-family: 'Roboto', sans-serif;
}

.right {
    width: 75%;
    float: left;
    padding-left: 5px;
}

.MainContent 
{
    --background-color: #ececec;
    width:50%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

.stopka {
    padding-top: 5px;
    background-color:#1be577;
    display: block;
    height: 5%;
    width: 100%;
    display: flex;
    border-radius: 20px;
}

.header {
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    width: auto;
    height: auto;
    margin-bottom: 10px;
    font-weight: lighter;
}

article{
    padding-bottom: 20px;
}

article > p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: thin;
}

.navbar {
    padding:3%;
    margin-left: auto;
    margin-right: auto;
}

.navbar > ul{
    list-style-type:none;
    font-size:18px;
    height:2em;
    line-height:2em;
}
.navbar > li{
    list-style-type:none;
    --margin-right: 5px;
    text-align:center;
    padding: 5px;
}
.navbar a{
    color: rgb(36, 36, 36);
    text-decoration: none;
}
.navbar a:hover{
    background-color:#fff;
}
.navbar >li:hover{
    background-color:#fff;
    border-radius: 10px;
    padding: 5px;
    
}

    @media (max-width: 850px) {
        .left{
            width: 100%;
            height: auto;
        }
        .right{
            width: 100%;
        }
        .navbar{
            padding-left: 5px;
            padding-right: 5px;
        }
        article{
            width: 100%;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
        }
        .MainContent{
            margin: 0;
            width: 100%;
        }
    }

    @media (max-width: 500px) {
      .logo {
          display: none;
      }
    }
      