
html {
    width: 100%;
    height: 100%;
    background-color: rgb(18, 20, 26) ;
}

* {
    box-sizing: border-box;
  }

#main {
    flex-wrap: wrap;
}

body{
    line-height:1.5;
}

.logo {
    border-radius: 15px;
    margin-bottom: 0.5em;
    margin-top: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left {
    border-radius: inherit;
    /* background-color: #273746 ; */
    width: 20%;
    float: left;
    margin-bottom: 3px;
    font-family: 'Roboto', sans-serif;
}

.right {
    width: 80%;
    float: left;
    padding-left: 5px;
    padding-right: 10px;
}

.MainContent {
    color: rgb(139, 153, 160);
    background-color: rgb(21, 29, 34); 
    width:1130px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

.stopka {
    padding-top: 5px;
    background-color:#1be577;
    display: block;
    height: 5%;
    width: 100%;
    display: flex;
    border-radius: 20px;
}

.header {
    font-family: 'Roboto', sans-serif;
    font-size: 62px;
    width: auto;
    height: auto;
    margin-bottom: 10px;
    font-weight: lighter;
    display: block;
    width: 100%;
}

.border {
    border-width: .5px 0;
    border-style: solid;
    border-color: rgb(73, 81, 85);
}

article{
    padding-bottom: 20px;
}

article > p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
}

.navbar {
    padding:3%;
    margin-left: auto;
    margin-right: auto;
}

.navbar > ul{
    list-style-type:none;
    font-size:18px;
    height:2em;
    line-height:2em;
}
.navbar > li{
    list-style-type:none;
    text-align:center;
    padding: 5px;
}
.navbar a{
    color: rgb(139, 153, 160);
    text-decoration: none;
    display: block;
    border-radius: 10px;
    padding: 5px;
}
.navbar a:hover{
    background-color:rgb(90, 99, 104);
}
    @media (max-width: 1150px) {
        .MainContent, .logo{
            width: 825px;
        }
    }


    @media (max-width: 850px) {
        .left,.right{
            width: 100%;
            height: auto;
        }
        .navbar{
            padding-left: 5px;
            padding-right: 5px;
        }
        article{
            width: 100%;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
        }
        .MainContent{
            margin: 0;
            width: 100%;
        }
    }

    @media (max-width: 500px) {
      .logo {
          display: none;
      }
      .navbar > li {
        border-width: .5px 0;
        border-style: solid;
        border-top: 0;
        border-color: rgb(73, 81, 85);
      }
    }
